@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #fafaf7;
  --card: #ffffff;
  --text: #111111;
  --muted: #666666;
  --border: #111111;
}

.dark {
  --bg: #071014;
  --card: #0f172a;
  --text: #f9fafb;
  --muted: #9ca3af;
  --border: #374151;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif, ui-sans-serif, system-ui, sans-serif;
}

/* UTIL */
.bg-card {
  background: var(--card);
}

.text-muted {
  color: var(--muted);
}
